<ul class="nav">
  <%= link_to  new_note_path, class: "btn btn-default" , data: { turbo_frame: 'modal'} do %>
    <i class="ri-sticky-note-line">new note</i>
  <% end %>
</ul>

<div id="notes">
  <% if @notes.present? %>
      <% @notes.reverse.each do |note| %>
        <%= render note %>
      <% end %>
  <% end %>
</div>