@import "bootstrap";

.bulb_color_0 {
    color: #42AFE3; 
    font-size: 20px;
}
.bulb_color_1 {
    color: #97CD76; 
    font-size: 20px;
}
.bulb_color_2 {
    color: #ED6C63; 
    font-size: 20px;
}

