@import "bootstrap";

.bulb_color_0 {
    color: #42AFE3; 
    font-size: 20px;
}
.bulb_color_1 {
    color: #97CD76; 
    font-size: 20px;
}
.bulb_color_2 {
    color: #ED6C63; 
    font-size: 20px;
}

.delete_color{
    background-color: rgb(223, 22, 22); 
    color: white; 
    text-align:center;
}

.custom-button {
    /* ここにボタンのスタイルを指定 */
    width: 422px; /* 幅を調整 */
}

@media (prefers-color-scheme: dark) {
    .ri-edit-box-line{
        color: white;   
    }
    .ri-delete-bin-6-line{
        color: white;   
    }
    .modal-content{
        background:rgb(0, 0, 0);
        border: 1px solid;
    }
    .card-header{
        background-color: rgb(75, 61, 61);
        color: white; 
        border: 1px solid;
    }
    .card{
        background-color: rgb(39, 36, 36);
        color: white; 
        border: 1px solid;
    }
    .ri-sticky-note-line{
        color: white;   
    }
    .btn-close{
        color: white; 
        background-color: white; 
        border: 1px solid;
    }
  }


